%iframe{:allowtransparency => "true", :frameborder => "0", :height => "100", :src => "http://bandcamp.com/EmbeddedPlayer/v=2/track=2618548638/size=venti/bgcol=FFFFFF/linkcol=ffffff/transparent=true/", :style => "position: relative; display: block; width: 400px; height: 100px;", :width => "400"}
  %a{:href => "http://midwivesofdiscord.bandcamp.com/track/stellar-collision-feat-zeeraw"} Stellar Collision feat. Zeeraw by Midwives Of Discord
- 100.times do
  %br